#map {
    /*height: 250px;
    width:250px;*/
    /*position: relative;*/
    width: 90%;
    margin: auto;
    padding: 0.5% 0.5% 0.5% 0.5%;
    background-color: black;
}
p {
    color: rgb(0, 0, 255);
}
body {
    background-color: black;
}

img {
    width: 25%;
    max-width: 200px;
    margin: 3% 3% 3% 3%;
    border-radius: 10%;
    transition: transform .25s;
    text-align: center;
    caption-side: bottom;

}
img:hover {
    transform: scale(1.5);
}
.punainenH1 {
    color: red;
    display: inline;
}
.harmaaH1 {
    color: gray;
    display: inline;
}
h1 {
    font-family: monospace;
    font-style: normal;
}

#divOtsikko{
    text-align: center;
}
.divKeskitetty {
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 0px;
    text-indent: 0;
}

#ylapalkki {
    margin: auto;
    width: 90%;
    /*height: auto;*/
    background-size: auto 80%;
    background-image: url("../img/frisbeeKuvaValkoinen.png");
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    text-align: right;
}

#homeButton {
    padding: 2% 5% 2% 5% ;
    margin: 2% 0% 0% 0%;
    float: left;
    border-radius: 5px;
    border-color:transparent;
    background-color: transparent;
    background-size: 90%;
    background-image:url('../img/homeButton.png');
    background-repeat:no-repeat;
    background-position:center;  padding-left:15px;
}

#yhteenvetoButton {
    padding: 2% 5% 2% 5% ;
    margin-top: 2%;
    margin-right: 46%;
    border-radius: 5px;
    background-color: transparent;
    border-color:transparent;
    background-size: 90%;
    background-image:url('../img/yhteenvetoMusta.png');
    background-repeat:no-repeat;
    background-position:center;  padding-left:15px;

}

#teemanVaihto {
    border-radius: 5px;
    margin: 1% 0% 1% 1% ;
    padding: 0.5% 0.5% 0.5% 0.5%;
}

#projektivideo {
    border-radius: 5px;
    margin: 1% 0% 1% 1% ;
    padding: 0.5% 0.5% 0.5% 0.5%;
}

#teemanVaihtoPalkki {
    text-align: center;
}